<h1>How do we use this today?</h1>
<div class="ui centered grid">
  <div class="two column row">
    <div class="column">
      <img src="../../assets/angular_solidBlack.png" alt="angular" class="ui medium image">
    </div>
    <div class="column">
      <img src="../../assets/ember.png" alt="ember" class="ui medium image">
    </div>
  </div>
  <div class="two column row">
    <div class="column">
      <img src="../../assets/react.png" alt="react" class="ui medium image">
    </div>
    <div class="column">
      <img src="../../assets/vue-9.png" alt="vue" class="ui medium image">
    </div>
  </div>
</div>