* {
  font-family: 'Ubuntu Mono';
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu Mono';
}

body {
  font-family: 'Ubuntu Mono';
  font-size: 18px;
}

.banner {
  padding: 15px;
  font-size: 4em;
}

button.ui.button {
  margin: 20px;
}