  <div class="four column row">
    <div class="column">
      <h1>Introduction</h1>
      <div class="ui card">
        <div class="content">
          <img class="right floated small ui image" src="../../assets/nathan_profile.jpg" alt="">
          <h3 class="header">Nathan White</h3>
          <div class="meta">
            Frontend Developer
          </div>
          <div class="ui horizontal list social">
            <div class="item">
              <i class="twitter icon"></i>
              <div class="content">comfroels</div>
            </div>
            <div class="item">
              <i class="github icon"></i>
              <div class="content">comfroels</div>
            </div>
          </div>
          <div class="description">
            <ul class="unstyled">
              <li>Work for Ritter Insurance Marketing (RIMdev)</li>
              <li>Been a developer about 3 years</li>
              <li>Working with Angular 1.x and 2, some Vue.js/React</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <!--<div class="centered column">
    
  </div>-->